@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-border: #27272a;
  --color-primary: #3b82f6;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-gray-200 antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-gray-600;
}
